node_modules
coverage
 
# Certificates
/certificates
*.pem
*.key
*.crt
.env
.env.development
.env.qa
.env.production
 
# Cruft
.DS_Store
npm-debug.log
.idea
 
# VS code configs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
 
# Secrets
deployment/deployment.yaml
deployment/secrets.yaml